<div class="container py-5 lessons_container">
  <div class="row">
    <div class="col-lg-12 lesson_head_font text-center">
      Lessons Main Base
    </div>
  </div>
  <% @lessons.each do |lesson| %>
    <div class="row mx-auto">
      <div class="col-lg-12 text-center lesson_padding">
        <%= lesson.name %>
      </div>
    </div>
    <div class="row mx-auto py-1">
      <div class="col-lg-12 text-center">
        <%= lesson.description %>
      </div>
    </div>
    <div class="row mx-auto py-1 justify-content-center">
      <div class="col-lg-8">
        <pre data-enlighter-language="<%=lesson.language.name%>">
      <%= lesson.syntax %>
    </pre>
      </div>
    </div>
    <div class="row mx-auto-py-1">
      <div class="col-lg text-center">
        <%= link_to 'Edit Lesson', edit_lesson_path(lesson), class:'editNDelete' %> |

        <%= link_to 'Delete Lesson', lesson_path(lesson), method: :delete, class:'editNDelete' %>
      </div>
    </div>

  <% end %>
  <div class="row mx-auto py-1">
    <div class="col-lg-12 text-center">
      <%= render 'admins/shared/adminlinks' %>
    </div>
  </div>
</div>
